<div>
    <div class ="mid_div">
      <h1>
        half<span style="color:#FA8320">C</span>ourt <span style="color:#FA8320">P</span>ress
      </h1>
    </div>
    <div class = "about_div">
      <h2>
        halfCourt Press is a platform designed for basketball programs to track, collect and analyze game statistics over the course of a season.
      </h2>
    </div>
    <hr>
  <!--   <p class="center">
      Track <span style="color:blue">made</span> and <span style="color:red">missed shots</span>
    </p> -->
    <!--  <p class="center">
     Heat map
    </p> -->

    <div class ="pic_wrap">
      <div class = "make_miss_div">
        <div class="pic_text">
         <p>Track<span style="color:blue"> made</span> and <span style="color:red">missed</span> shots throughout the game
        </p>
        </div>
      </div>
      <div class = "made_heat_div">
        <div class="made_pic_heat">
          <p>Heat map will show where your team is <span style="color:blue">making shots</span> </p>
        </div>
      </div>
      <div class = "miss_heat_div">
        <div class="miss_pic_heat">
          <p>It will also show where your team is <span style="color:red">missing shots</span> </p>
        </div>
      </div>
    </div>
    <div class = "below_pics"> </div>
   <div class = "dev_team">
    <div class="gif"></div>
    <hr>
      <img src="Dave.jpg">
      <img src="Sebastian C.jpg">
      <img src="Edgar.jpg">
      <img src="Michael.jpg">

  </div>
  <div class = "dev_text">
    <p>This is the dev team</p>
  </div>
</div>








